.farm-button {
    background-color: #8bc34a; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .farm-button:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }