.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://cdn.wallpapersafari.com/67/99/HPwFns.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}

.welcome {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  color: #fff;
  text-shadow: 2px 2px #6b3e1d;
  margin: 2rem 0;
}

.fc {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin-bottom: 2rem;
  text-shadow: 2px 2px #6b3e1d;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #f0e7d8;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5c6a0;
  border: 1px solid #6b3e1d;
  box-shadow: 2px 2px 6px #6b3e1d;
  border-radius: 8px;
  padding: 1rem;
  max-width: 300px;
}

.card h3 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  color: #6b3e1d;
  margin-bottom: 1rem;
  text-shadow: 2px 2px #fff;
}

.card p {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  color: #6b3e1d;
  margin-bottom: 1rem;
  text-shadow: 2px 2px #fff;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #6b3e1d;
  box-shadow: 2px 2px 6px #6b3e1d;
}

/* Customer Login Stuff */

.drop-down-form {
  background-color: #f6e6c7;
  border: 1px solid #a1885d;
  border-radius: 5px;
  color: #a1885d;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
}

.drop-down-form:hover {
  background-color: #a1885d;
  color: #f6e6c7;
}

/* Style for the new customer form */
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form input {
  background-color: #f6e6c7;
  border: 1px solid #a1885d;
  border-radius: 5px;
  color: #a1885d;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

form button[type="submit"], form button[type="button"] {
  background-color: #a1885d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
}

form button[type="submit"]:hover, form button[type="button"]:hover {
  background-color: #f6e6c7;
  color: #a1885d;
}

form button[type="submit"]:focus, form button[type="button"]:focus {
  outline: none;
}

form button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
