.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0e7d8;
  height: 100px;
  padding: 0 2rem;
}

.logo {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  color: #6b3e1d;
  text-shadow: 2px 2px #fff;
}

.navbar a {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #6b3e1d;
  text-decoration: none;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 8px;
  text-shadow: 2px 2px #fff;
}

.navbar a:hover {
  background-color: #e5c6a0;
  color: #fff;
  box-shadow: 2px 2px 6px #6b3e1d;
}